@import "./font.css";

* {
  font-family:'Myriad Pro', sans-serif;
}

.Topbar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header{
  display: flex;
  justify-content: center;
}

.header > img{
  width: 100px;
  padding: 25px;
}

.Burgermenu{
  position: absolute;
  left: 10px;
  width: 25px;
  height: 25px;
}

.Burgermenu > svg{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.Menulist {
  font:small;
  padding-left: 5px;
  width: 100px;
}

.Menulist > p {
  margin: 4px;
  color: #626262;
  cursor: pointer;
}

.Menulist > p:hover {
  color: #000000;
}