@import "./font.css";

html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

* {
  font-family:'Myriad Pro', sans-serif;
}

.Topbar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header{
  display: flex;
  justify-content: center;
}

.header > img{
  width: 100px;
  padding: 25px;
}

.Burgermenu{
  position: absolute;
  left: 10px;
  width: 25px;
  height: 25px;
}

.Burgermenu > svg{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.Menulist {
  font:small;
  padding-left: 5px;
  width: 100px;
}

.Menulist > p {
  margin: 4px;
  color: #626262;
  cursor: pointer;
}

.Menulist > p:hover {
  color: #000000;
}

.Gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 500px;
  row-gap: 10px;
  height: 100%;
  overflow: scroll;
}

.GalleryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 500px;
}

.GalleryItem:hover > img{
  transform: scale(1.1);
  transition: transform 0.5s;
}

.GalleryItem > p {
  visibility: hidden;
}

.GalleryItem:hover > p {
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .Gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .Gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}