.Topbar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header{
  display: flex;
  justify-content: center;
}

.header > img{
  width: 100px;
  padding: 25px;
}

.Burgermenu{
  position: absolute;
  left: 10px;
  width: 25px;
  height: 25px;
}

.Burgermenu > svg{
  width: 100%;
  height: 100%;
}